In [37]:
import pandas as pd
import csv
import math

In [38]:
#file_to_load encoded_data
data_to_load = "Encoded_data.csv"
genre_df = pd.read_csv(data_to_load)
genre_df.head()

,duration,country,language 1,weighted_average_rating,total_votes,tot_voters_below_18,tot_voters_below_30,tot_voters_below_45,tot_voters_above_45,tot_male_voters,...,Family,Action,Romance,Mystery,History,Sci-Fi,Animation,Thriller,Sport,rating
0,100,148,38,5,446,23,23,111,193,299,...,0,0,0,0,1,0,0,0,0,0
1,68,66,68,7,2237,0,402,895,482,1607,...,0,0,0,0,0,0,0,0,0,1
2,60,148,38,6,484,35,35,177,168,354,...,0,0,0,0,0,0,0,0,0,0
3,85,47,49,7,753,0,59,287,276,530,...,0,0,1,0,0,0,0,0,0,0
4,120,66,68,6,273,0,34,99,69,191,...,0,0,0,0,1,0,0,0,0,0

In [42]:
#Defining Target nd features
X = genre_df.drop(["weighted_average_rating","rating"], axis = 1)
y = genre_df["rating"].tolist()

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
    y, random_state=1, stratify = y)

In [44]:
from sklearn.svm import SVC
model = SVC(kernel='linear')

In [ ]:
model.fit(X_train, y_train)

In [ ]:
y_pred = model.predict(X_test)
results = pd.DataFrame({    
   "Prediction": y_pred,
   "Actual": y_test
}).reset_index(drop=True)
results.head()

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))